/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Manrope:wght@300;400;500;600;700&display=swap");
/* google fonts  end */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
}
.theme-container {
    max-width: 1338px;
    padding: 0 20px;
}
.shadow-style-one {
    box-shadow: 0px 10px 60px 0px rgba(121, 74, 255, 0.2);
}
/* ====== common style ====== */

.black_overlay {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0.9) 100%
    );
}
.win-grid {
    letter-spacing: 2px;
    display: flex;
    flex-wrap: wrap;
    background: #f3f4f9;
}
.win-grid.win-grid-two {
    background: none;
}

.win-btn {
    width: 56px;
    height: 56px;
    text-align: center;
    border: none;
    border-radius: 0px;
    border: 1px solid #e5e7ec6b;
}
.win-grid-two .win-btn {
    border: 1px solid #ffffff05;
}
.win-grid-bg {
    background: transparent;
}
.h1-story-pagination-v2 {
    position: unset;
    width: auto;
    display: flex;
    align-items: center;
    gap: 6px;
}
.h1-story-pagination-v2 .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    background: #fff;
    opacity: 1;
    border-radius: 50%;
}
.h1-story-pagination-v2 .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #794aff;
    width: 10px;
    height: 10px;
}
.testimoial-section-wrapper .swiper-pagination {
    position: unset;
    width: auto;
}
.testimoial-section-wrapper .swiper-pagination .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    background: #fff;
    opacity: 1;
}
.testimoial-section-wrapper
    .swiper-pagination
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #794aff;
}
.testimoial-section-wrapper .swiper-button-prev,
.testimoial-section-wrapper .swiper-button-next {
    position: unset;
    margin: 0;
}
.testimoial-section-wrapper .swiper-button-prev::after {
    content: "";
}
.testimoial-section-wrapper .swiper-button-next::after {
    content: "";
}
#hero-mouse-move-anim {
    position: relative !important;
}
#hero-mouse-move-anim .layer:nth-child(1) {
    position: absolute !important;
    left: 0 !important;
    top: 160px !important;
}
#hero-mouse-move-anim .layer:nth-child(2) {
    position: absolute !important;
    left: 66% !important;
    top: 128px !important;
}
#hero-mouse-move-anim .layer:nth-child(3) {
    position: absolute !important;
    left: 0 !important;
    bottom: 288px !important;
    top: auto !important;
}
#hero-mouse-move-anim .layer:nth-child(4) {
    position: absolute !important;
    left: 66% !important;
    bottom: 256px !important;
    top: auto !important;
}

#home-working-cursor-anim {
    position: relative !important;
}
#home-working-cursor-anim .layer:nth-child(1) {
    position: absolute !important;
    left: -160px !important;
    top: 144px !important;
}
#home-working-cursor-anim .layer:nth-child(2) {
    position: absolute !important;
    left: -56px !important;
    top: 288px !important;
}
#home-working-cursor-anim .layer:nth-child(3) {
    position: absolute !important;
    left: -80px !important;
    top: 460px !important;
}
#consaltaion-mouse-move-anim .layer:nth-child(2) {
    position: absolute !important;
    left: 208px !important;
    top: 80px !important;
}
#consaltaion-mouse-move-anim .layer:nth-child(3) {
    position: absolute !important;
    left: auto !important;
    right: 160px !important;
    top: auto !important;
}
#home-one-about-mouse-anim .layer:nth-child(1) {
    position: absolute !important;
    left: 66.666667% !important;
    top: 144px !important;
}
#home-one-about-mouse-anim .layer:nth-child(2) {
    position: absolute !important;
    left: 50% !important;
    top: auto !important;
    bottom: 0 !important;
}

@media (min-width: 1440px) {
    .theme-container {
        padding: 0;
    }
}

@media (max-width: 768px) {
    #consaltaion-mouse-move-anim .layer:nth-child(2) {
        position: absolute !important;
        left: 0 !important;
        top: 80px !important;
    }
    #consaltaion-mouse-move-anim .layer:nth-child(3) {
        position: absolute !important;
        left: auto !important;
        right: 0 !important;
        top: auto !important;
    }
}

.mobile-sub-nav {
    height: 0px;
    padding: 0px;
}

.h1-header-sticky-qs {
    position: absolute;
    top: 30px;
}

.h1-header-sticky-qs .h1-top-bar {
    display: block;
}

@media (min-width: 1536px) {
    .h1-header-sticky-qs .h1-top-bar {
        display: flex;
    }
}

/* Preloader */
.container-preloader {
    align-items: center;
    cursor: none;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 900;
}
.container-preloader .animation-preloader {
    position: absolute;
    z-index: 100;
}
/* Spinner Loading */
.container-preloader .animation-preloader .spinner {
    animation: spinner 1s infinite linear;
    border-radius: 50%;
    border: 10px solid rgba(0, 0, 0, 0.2);
    border-top-color: #794aff;
    height: 9em;
    margin: 0 auto 3.5em auto;
    width: 9em;
}
/* Loading text */
.container-preloader .animation-preloader .txt-loading {
    font: bold 5em "Montserrat", sans-serif;
    text-align: center;
    user-select: none;
}
.container-preloader .animation-preloader .txt-loading .characters:before {
    animation: characters 4s infinite;
    color: #794aff;
    content: attr(preloader-text);
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: rotateY(-90deg);
}
.container-preloader .animation-preloader .txt-loading .characters {
    color: rgba(0, 0, 0, 0.2);
    position: relative;
}
.container-preloader
    .animation-preloader
    .txt-loading
    .characters:nth-child(2):before {
    animation-delay: 0.2s;
}
.container-preloader
    .animation-preloader
    .txt-loading
    .characters:nth-child(3):before {
    animation-delay: 0.4s;
}
.container-preloader
    .animation-preloader
    .txt-loading
    .characters:nth-child(4):before {
    animation-delay: 0.6s;
}
.container-preloader
    .animation-preloader
    .txt-loading
    .characters:nth-child(5):before {
    animation-delay: 0.8s;
}
.container-preloader
    .animation-preloader
    .txt-loading
    .characters:nth-child(6):before {
    animation-delay: 1s;
}
.container-preloader
    .animation-preloader
    .txt-loading
    .characters:nth-child(7):before {
    animation-delay: 1.2s;
}
.container-preloader .loader-section {
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    top: 0;
    width: calc(50% + 1px);
}
.container-preloader .loader-section.section-left {
    left: 0;
}
.container-preloader .loader-section.section-right {
    right: 0;
}
/* Curtain effect */
.loaded .animation-preloader {
    opacity: 0;
    transition: 0.3s ease-out;
}
.loaded .loader-section.section-left {
    transform: translateX(-101%);
    transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}
.loaded .loader-section.section-right {
    transform: translateX(101%);
    transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}
@keyframes spinner {
    to {
        transform: rotateZ(360deg);
    }
}
@keyframes characters {
    0%,
    75%,
    100% {
        opacity: 0;
        transform: rotateY(-90deg);
    }
    25%,
    50% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}
@media screen and (max-width: 767px) {
    .container-preloader .animation-preloader .spinner {
        height: 8em;
        width: 8em;
    }
    .container-preloader .animation-preloader .txt-loading {
        font: bold 3.5em "Montserrat", sans-serif;
    }
}
@media screen and (max-width: 500px) {
    .container-preloader .animation-preloader .spinner {
        height: 7em;
        width: 7em;
    }
    .container-preloader .animation-preloader .txt-loading {
        font: bold 2em "Montserrat", sans-serif;
    }
}
.nav-shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* play button rings + video modal */
@keyframes rotation {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes rotation1 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
.h5-play-btn-line1 {
    border: 2px rgba(255, 255, 255, 0.451) solid;
    border-right-color: transparent;
    animation: rotation 4s infinite linear;
}
.h5-play-btn-line2 {
    border: 2px rgba(255, 255, 255, 0.451) solid;
    border-right-color: transparent;
    animation: rotation1 3s infinite linear;
}
.h5-play-btn-line3 {
    border: 1px rgb(255 255 255 / 14%) solid;
}
.player-open-anim {
    animation: player-open 0.3s linear 0s;
}
.active-video-player {
    display: flex !important;
}
@keyframes player-open {
    0% { transform: scale(0); -webkit-transform: scale(0); }
    100% { transform: scale(1); -webkit-transform: scale(1); }
}
